body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
}

/* Utilitários */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.mb-3 {
  margin-bottom: 1rem;
}